@import './../../../assets/styles/variables';

.btn {
   padding: 12px 20px;
   background-color: $blue;
   font-size: 20px;
   border-radius: 5px;
   transition: all .3s linear;
   border: none;
   height: 100%;
   
   &:hover {
      background-color: $white;
      color: $darkblue;
      cursor: pointer;
   }
}